html {
  overflow: scroll;
}

body {
  font-family: monospace;
  background-image: url(../images/leaves.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
#mydiv {
  color: black;
  font-size: large;
  height: 500px;
  background-color: rgba(40, 167, 70, 0.7);
}
p {
  text-align: center;
}
#description {
  text-align: center;
}

h5 {
  font-weight: bolder;
}

#name {
  height: 50px;
  width: 80%;
  text-align: center;
}

input#name {
  width: 60%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 15px;
}

button {
  border: none;
  background-color: rgb(40, 167, 69);
  font-weight: bolder;
}

input#date {
  width: 60%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 10px;
}
img {
  float: left;
}
h4 {
  font-weight:bolder;
}
#description {
  background-color:rgba(255, 255, 255, 0.2);
}