html {
  overflow:scroll;
}
body {
font-family: monospace;
}
#mydiv {
  color:black;
  font-size:large;
  height:600px;
}
#description {
  text-align:center;
}
h5 {
  font-weight: bolder;
}
#name {
  height:50px;
  width:80%;
  text-align: center;
}
input#name {
  width: 60%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: hsl(120, 100%, 25%, 30%);
  margin-top:15px;
}
button {
  border:none;
  background-color:hsl(120, 100%, 25%);
  font-weight:bolder;
}
input#date {
    width: 60%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: hsl(120, 100%, 25%, 30%);
    margin-top:10px;
}
input#gender {
  width: 60%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: hsl(120, 100%, 25%, 30%);
  margin-top:10px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top:20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: x-large;
}

.dropdown:hover .dropdown-content {
  display:block;
}
img {
  float:left;
}
#pics {
  background-image:url(../images/cloth.jpg);
  background-repeat: repeat;
  background-color: black;
  height:600px;
}