html {
  height:665px;
}  
body {
background-image:url("../images/cloth.jpg");
font-family: monospace;
background-repeat:repeat;
}
#mydiv {
  color:black;
  top:66.5px;
  left:10%;
  width: 80%;
  height:560px;
  font-size:large;
}
.img1 {
  position: absolute;
  width:18px;
  left:0px;
}
.img2 {
  position: absolute;
  width:18px;
  right:0px;
}